LLM_BACKEND=vllm
VLLM_URL=http://host.docker.internal:8000/v1
PHASE2_VLLM_URLS=http://host.docker.internal:8000/v1

PHASE1_MODEL=google/gemma-4-12b-it
AGE_MODEL=google/gemma-4-e2b-it
PHASE2_MODEL=google/gemma-4-e2b-it

PHASE1_NUM_CTX=8192
PHASE1_MAX_TOKENS=256
PHASE1_THINK=false
PHASE1B_THINK=false
PHASE2_THINK=true
